*{
    box-sizing: border-box;
}

html, body{
    background-color:#E4E4E4;
    font-family:'Manrope', sans-serif;
    margin-right:20px;
    margin-left:20px; }

.fit_to_size,
.header,
.footer{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.header{
    background:white;
    padding: 20px;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}
h2{
    font-size: 26px;
    text-transform: uppercase
}
.header_text{
    font-size: 64px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.lrg_text{
    font-size: 32px;
}

.nav {
    text-align: center;
    margin: auto;
    width:70%;
}
.navbar{
    margin-bottom:15px;
	padding: 10px;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
.nav a{
    margin-left: 10px;
    text-align: center;
    display:block;
    font-size:15px;
    padding:10px;
    text-decoration: none;
    color:black;
    text-transform:uppercase;
    font-weight: 600;
}
.nav a:hover{
    background: #a5283b;
	color: #ffffff;
	text-decoration: underline;
	transition: 0.5s;
}
.nav ul
{
	margin: 0;
	padding: 0;
	display: flex;
}
.nav li
{
	list-style: none;
}

#navbar-scrolldown {
    background-color: #a5283b;
    position:fixed;
    top: -60px;
    right:auto;
    width:auto;
    margin-left:70px;
    transition: top 0.3s;
    }


#navbar-scrolldown a {
    float: left;
    display: block;
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    padding: 16px;
    text-decoration: none;
    margin-left:10px;
    margin-right:10px;
  }

#navbar-scrolldown a:hover {
    background-color: #ffffff;
    color: #000000;
  }

.burger{
	display: none;
}
.burger div{
	width: 20px;
	height: 3px;
	background-color: black;
	margin: 5px;
}
.clearfix{
	clear: both;
}
.blockbutton{
    border:none;
    color:white;
    background:#a5283b;
    font-size: 16px;
    padding:10px;
    cursor:pointer;
}

#blockbutton{
    border:none;
    color:white;
    background:#a5283b;
    font-size: 16px;
    padding:10px;
    cursor:pointer;
}
.blockbutton:hover{
    background:#cd3249;
}
.cdu_img{
    width:650px;
    margin-top: 10px;
}
.img{
    text-align: center;
}
.card{
    background:white;
    padding: 25px;
    margin-top: 10px;
    border-radius: 5px;
}

.leftside{
    float:left;
    width:50%;
}

.rightside{
    float:right;
    width:49.3%;
}

.endfloat:after{
    content: "";
    display: table;
    clear:both;
}

.footer{
    background:white;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: 900;
}

/* This is so that when the window screen is less than 850px,
the leftside and rightside will collapse on top together and fit better into the screen */
@media screen and (max-width: 850px) {
    body{
        overflow-x: hidden;
    }
    .links{
        display: flex;
        flex-direction: column;
        width: 100%;
        transition: transform 0.5s ease-in;
    }
    .burger{
        display: none;
        cursor: pointer;
    }

    .nav, 
    .navbar{
        width:100%;
        }

    .rightside,
    .leftside {
          width: 100%;
          text-align: center;
        }
    .cdu_img{
            width:350px;
        }

    #navbar-scrolldown {
        display: none;
    }
}
/* When the window is bigger than 1250px, the header,
cards and footer will be a fixed size and not expand anymore than 65% of 1250px */
@media screen and (min-width: 1250px) {
    .header,
    .footer,
    .fit_to_size{
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
    }

    .nav a{
        margin-left: 45px;
    }
    
    #navbar-scrolldown {
        margin-left:200px;

    }

    
}


