*{  box-sizing: border-box;
}


html, body{
    background-color:#E4E4E4;
	font-family:'Manrope', sans-serif;
	box-sizing: border-box;
}

.fit_to_size,
.header,
.footer{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
.header{
    background:white;
    padding: 20px;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}
.header_text{
    font-size: 64px;
    margin-top: 20px;
    margin-bottom: 20px;
    background:
}
.nav {
    text-align: center;
    margin: auto;
    width:73%;
    min-width: 760px;
    margin-bottom:15px;
	padding: 10px;
	border-radius: 4px;
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

.nav a{
    text-align: center;
    margin-left: 30px;
    display:block;
    font-size:15px;
    padding:10px;
    text-decoration: none;
    color:black;
    text-transform:uppercase;
    font-weight: 600;
}
.nav a:hover{
    background: #a5283b;
	color: #ffffff;
	text-decoration: underline;
	transition: 0.5s;
}
.nav ul{
	margin: 0;
	padding: 0;
	display: flex;
}

li {
	list-style: none;
}
.clearfix{
	clear: both;
}
.cdu_img{
    width:650px;
    margin-top: 10px;
}
.img{
    text-align: center;
}

/*For navigation when scrolling down*/
#navbar-scrolldown {
    background-color: #a5283b;
    position:fixed;
    top: -60px;
    width:1100px;
    transition: top 0.3s;

    }
#navbar-scrolldown a {
    float: left;
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 16px;
    text-decoration: none;
    margin-left:10px;
    margin-right:10px;
  }
#navbar-scrolldown a:hover {
    background-color: #ffffff;
    color: #000000;
  }

.endfloat:after{
    content: "";
    display: table;
    clear:both;
}
.container{
	max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
	background-color: white;
	background-position: center;
	background-size: cover;
}
.form-box{
	width: 380px;
	height: 480px;
	position: relative;
    margin-right: auto;
    margin-left: auto;
	padding: 5px;
	overflow: hidden;
    background: white;
}
.button-box{
	width: 220px;
	margin: 35px auto;
	position: relative;
	box-shadow: 0 0 20px 9px #F08080;
	border-radius: 30px;
}
.toggle-btn{
	padding: 10px 30px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
}
#btn{
	top: 0;
	left: 0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: linear-gradient(to right, #ff105f,#a5283b);
	border-radius: 30px;
	transition: .5s;
}
.input-group{
	top: 180px;
	position: absolute;
	width: 280px;
	transition: .5s;
}
.input-field{
	width: 100%;
	padding: 10px 0;
	margin: 5px 0;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #999;
	outline: none;
	background: transparent;
}
.submit-btn{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: linear-gradient(to right, #ff105f,#a5283b);
	border: 0;
	outline: none;
	border-radius: 30px;
}
.check-box{
	margin: 30px 10px 30px 0;
}
span{
	color: #777;
	font-size: 12px;
	bottom: 68px;
	position: absolute;
}
#login{
	left: 50px;
}
#signup{
	left: 450px;
}
.footer{
    background:#003968;
    color:white;
    padding: 15px;
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: 100;
}
.footer p{
    font-size: 20px;
}
/*SHOULD BE AT THE BOTTOM OF CSS*/
/* This is so that when the window screen is less than 850px,
the leftside and rightside will collapse on top together and fit better into the screen */
@media screen and (max-width: 850px) {
    body{
        overflow-x: hidden;
    }
    .links{
        display: flex;
        flex-direction: column;
        width: 100%;
        transition: transform 0.5s ease-in;
    }
    .nav{
        width:100%;
        min-width: 0px;
        }
	.cdu_img{
        width:350px;
       }
